################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SocialNetwork/.vs/SocialNetwork/v17
/SocialNetwork/.vs/SocialNetwork/config
/SocialNetwork/SocialNetwork.API/obj
/SocialNetwork/SocialNetwork.API/bin
/SocialNetwork/SocialNetwork.Domain/bin
/SocialNetwork/SocialNetwork.Domain/obj
/SocialNetwork/SocialNetwork.Interfaces/bin
/SocialNetwork/SocialNetwork.Interfaces/obj
/SocialNetwork/SocialNetwork.Persistence/bin
/SocialNetwork/SocialNetwork.Persistence/obj
/SocialNetwork/SocialNetwork.Core/bin
/SocialNetwork/SocialNetwork.Core/obj
/SocialNetwork/.vs
